<h1><%= @movie.title %></h1>
<h3><i>Directed By: <%= @movie.director %> in <%= @movie.year %></i></h3>
<h4>Plot: <%= @movie.plot %></h4>
</br>
Please take a moment to fill out this short form :)
</br>
</br>
<form action="/api/movies/<%= @movie.id %>" method="post">
  <div>
    Enter your age: <input type="text" name="age">
  </div>
</br>
  <div>
    How would you rate this movie from 1-5(worst to best)? 
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</br>
  <input type="submit" value="Submit">
</form>